.friendListMobile {
    height: 100vh;
    display:flex;
    flex-direction:column;
}

.friendListMobile_header {
    height: 80px;
    display: flex;
    align-items: center;
}

.friendListMobile_header_back {
    width: 22px;
    height: 18px;
    margin-left: 24px;
}

.friendListMobile_header_title {
    font: Bold 19px/21px NanumSquareOTF_ac;
    color: #191919;
    margin-left: 15px;
}

.friendListMobile_header_delete {
    margin-left: auto;
    margin-right: 31px;
}

.friendListMobile_container {
    margin: 39px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.friendListMobile_footer {
    margin: auto 34px 50px;
    text-align: center;
}

.friendListMobile_button {
    @extend .noRespondButton;
    background: #73A2FC 0% 0% no-repeat padding-box;
    border-radius: 10px;
    width: 292px;
    height: 50px;
    font: Bold 16px/18px NanumSquareOTF_ac;
    color: #FFFFFF;
}

.noRespondButton {
    border: 0px;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}