.circleGraph_canvasBase {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 256px;
    height: 256px;
}

.circleGraph_canvas_pc {
    width: 256px;
    height: 256px;
}

.circleGraph_canvas_mobile {
    width: 140px;
    height: 140px;
}

.circleGraph_textContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 256px;
}

.circleGraph_textContainer_title {
    font: Bold 15px/22px SpoqaHanSans;
    color: #767676;
    text-align: center;
}

.circleGraph_textContainer_value {
    font: Bold 30px/45px SpoqaHanSans;
    color: #FFD939;
    text-align: center;
}

@media (max-width: 1000px) {
    .circleGraph_textContainer_title {
        font: Bold 9px/10px NanumSquareOTF_ac;
    }

    .circleGraph_textContainer_value {
        font: Bold 18px/27px SpoqaHanSans;
    }

    .circleGraph_canvasBase {
        width: 140px;
        height: 140px;
    }

    .circleGraph_textContainer {
        width: 140px;
    }

    /* 256 140 */
    .circleGraph_canvas_pc {
        display: none;
    }
}

@media (min-width: 1001px) {
    .circleGraph_canvas_mobile {
        display: none;
    }
}