.friend_container {
    display: flex;
    align-items: center;
    width: 1294px;
}

.friend_profileImg {

}

.friend_name {
    font: Bold 24px/26px NanumSquareOTF_ac;
    color: #191919;
    margin-left: 24px;
}

.friend_lastJoined {
    font: Regular 22px/25px NanumSquareOTF_ac;
    color: #6F6F6F;
    margin-left: 37px;
}

.friend_deleteButton {
    @extend .noRespondButton;
    margin-left: auto;
    background: transparent;
    border: 0px;
    margin-right: 27px;
}

.noRespondButton {
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

