@media(min-width: 999px) {
    .header_mobile_effectCircleTop {
        display: none;
    }

    .header_mobile_effectCircleCenter {
        display: none;
    }

    .header_mobile_effectCircleBottom {
        display: none;
    }
}

.header_mobile_effectCircleTop {
    position: absolute;
    float: right;
    width: 55.5vw;
    height: 55.5vw;
    right: -27.8vw;
    top: -27.8vw;
    border-radius: 100px;
    border: 0px;
    /*background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #4393FF 500%) 0% 0% no-repeat padding-box;*/
}

.header_mobile_effectCircleCenter {
    position: absolute;
    width: 55.5vw;
    height: 55.5vw;
    left: -27.8vw;
    top: 25.6vh;
    border-radius: 100px;
    border: 0px;
    /*background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #4393FF 500%) 0% 0% no-repeat padding-box;*/
}

.header_mobile_effectCircleBottom {
    position: absolute;
    width: 55.5vw;
    height: 55.5vw;
    right: -27.8vw;
    top: 71.4vh;
    border-radius: 100px;
    border: 0px;
    /*background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #4393FF 500%) 0% 0% no-repeat padding-box;*/
}