.main_container {
    width: 100vw;
}

.main_header {
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 0px;
}

@media(max-width: 1000px) {
    .main_container {
        background: #F7F9FF 0% 0% no-repeat padding-box;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
}