.main_container {
    display: table;
    margin: 0 auto;
}

.main_tab {
    text-align: left;
    margin-left: 24px;
    margin-top: 50px;
    display: flex;
}

.main_content {
    display: flex;
    text-align: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 20px #89898929;
    border-radius: 20px;
    padding: 69px 54px 85px;
    margin-bottom: 44px;
}

.main_weather {
    display: flex;
    align-items: center;
}

/* blocks */

/* blocks-circleGraph */
.main_circleGraph_temperature {
    width: 256px;
    height: 256px;
}

.main_circleGraph_temperature .blur {
    width: 256px;
    height: 256px;
}

.main_circleGraph_humidity {
    width: 256px;
    height: 256px;
    margin-left: 40px;
}

.main_circleGraph_humidity .blur {
    width: 256px;
    height: 256px;
}

/* blocks-adapter */
.main_adapter {
    width: 556px;
    height: 360px;
    margin-top: 30px;
}

.main_adapter .blur {
    width: 556px;
    height: 360px;
}

/* blocks-viewer */
.main_viewer {
    width: 737px;
    height: 646px;
}

.main_viewer .blur {
    width: 737px;
    height: 646px;
}

.main_viewer_animation {
    width: 646px;
    height: 363px;
    border: 1px solid #707070;
}

.main_viewer_animation_sub {
    width: 646px;
    height: 47px;
    border: 1px solid #707070;
}

.main_viewer_tab {
    display: flex;
    align-items: center;
    height: 190px;
}

.main_viewer_tab .blur {
    width: 115px;
    height: 115px;
}

/* blocks-adapter */
.main_adapter_header {
    display: flex;
    align-items: center;
    width: 100%;
}

.main_adapter_content {
    position: absolute;
    margin-left: 30px;
    margin-right: 30px;
    bottom: 30px;
    display: flex;
    height: 250px;
    vertical-align: bottom;
}

.main_adapter_header_title {
    font: Bold 22px/25px NanumSquareOTF_ac;
    //margin-left: 20px;
    margin-top: 20px;
    letter-spacing: 0px;
    color: #191919;
}

.main_adapter_header_editButton {
    @extend .noRespondButton;
    width: 72px;
    height: 32px;
    border: 1px solid #D8D8D8;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 39px;
    margin-left: auto;
}

.main_adapter_header_editButton_text {
    font: Regular 19px/21px NanumSquareOTF_ac;
    letter-spacing: 0px;
    color: #D8D8D8;
}

.noRespondButton {
    background: transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.main_adapter_td {
    padding: 10px;
}

.main_adapter_table {
    margin-top: -3px;
    margin-left: -11px;
}

/* friends */

.main_friends_content {
    min-height: 738px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 20px #89898929;
    border-radius: 20px;
    padding: 34px 70px;
    margin-bottom: 44px;
}

.main_friends_header {

}

.main_friends_title {
    font: Bold 34px/38px NanumSquareOTF_ac;
    color: #191919;
}

.main_friends_list {
    display: flex;

}

.main_friends_add {
@extend .noRespondButton;
    width: 89px;
    height: 89px;
}

.main_friends_separator {
    width: 1298px;
    height: 0px;
    border: 1px solid #EAEAEA;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main_friends_deleteImage {
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 50px;
    right: 60px;
}

.main_friends_deleteImage_mobile {
    display: none;
    width: 20px;
    height: 24px;
}

.main_viewer_mobile {
    display: none;
    text-align: left;
    align-self: flex-start;
    margin-top: 25px;
}

.main_viewer_mobile_text {
    font: Bold 12px/13px NanumSquareOTF_ac;
    color: #191919;
}

.main_friends_mobile_back {
    display: none;
    width: 22px;
    height: 18px;
    margin-left: 24px;
}

.main_header_mobile_button {
    @extend .noRespondButton;
    border: 0px;
}

.main_header_mobile_container {
    display: none;
    //justify-content: left;
    height: auto;
    width: 100%;
    margin-top: 34px;
}

.main_header_mobile_containerFriends {
    display: flex;
    justify-content: left;
    align-items: center;
    border: 0px;
}

.main_header_mobile_containerWeather {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.main_header_mobile_containerTitle {
    flex-direction: column;
    display: flex;
}

.main_header_mobile_weatherTitle {
    font: Bold 19px/21px NanumSquareOTF_ac;
    color: #191919;
}

.main_header_mobile_weatherSubTitle {
    margin-top: 7px;
    font-size: 11px;
    line-height: 12px;
    font-family: NanumSquareOTF_ac;
    color: #767676;
}

.main_header_mobile_temperature {
    margin-left: auto;
    margin-right: 7px;
    font-size: 40px;
    line-height: 59px;
    font-family: SpoqaHanSans;
    color: #FFD939;
}


.main_friends_mobile_addOrDeleteButton {
    @extend .noRespondButton;
    border: 0px;
    width: 292px;
    height: 50px;
    background: #73A2FC 0% 0% no-repeat padding-box;
    border-radius: 10px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    color: white;
    font: Bold 16px/18px NanumSquareOTF_ac;
}

.main_friends_header_separator {
    margin-top: 50px;
}

@media (max-width: 1000px) {
    body {
        overflow-y: hidden;
    }

    .main_tab {
        display: none;
    }

    .main_content {
        background: transparent;
        box-shadow: 0px 0px 0px;
        border-radius: 0px;
        padding: 0px;
        margin-top: 17px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main_viewer_tab .blur {
        width: 84px;
        height: 84px;
    }

    .main_circleGraph_temperature {
        width: 140px;
        height: 140px;
    }

    .main_circleGraph_temperature .blur {
        width: 140px;
        height: 140px;
    }

    .main_circleGraph_humidity {
        width: 140px;
        height: 140px;
        margin-left: 10px;
    }

    .main_circleGraph_humidity .blur {
        width: 140px;
        height: 140px;
    }

    .main_adapter {
        width: 293px;
        height: 166px;
        margin-top: 24px;
    }

    .main_adapter .blur {
        width: 293px;
        height: 166px;
    }

    .main_adapter_content {
        bottom: 12px;
        height: 120px;
        margin-left: 20px;
    }

    .main_viewer {
        display: none;
    }

    .main_adapter_header_editButton {
        width: 40px;
        height: 18px;
        margin-top: 9px;
        margin-right: 17px;
    }

    .main_adapter_header_editButton_text {
        font-family: SeoqaHanSans;
        font-size: 10px;
        line-height: 15px;
    }

    .main_adapter_header_title {
        //margin-left: 11px;
        margin-top: 12px;
        font: Bold 12px/13px NanumSquareOTF_ac;
    }

    .main_viewer_mobile {
        display: block;
    }

    .main_viewer_tab {
        height: 106px;
    }

    .main_friends_content {
        width: 100vw;
        height: 100vh;
        padding: 0px;
        min-height: 0px;
        background: #FFFFFF;
        box-shadow: 0px 0px 0px;
        border-radius: 0px;
        overflow-y: hidden;
        margin: 0px;
    }

    .main_friends_mobile_back {
        display: inline;
    }

    .main_friends_title {
        font: Bold 19px/21px NanumSquareOTF_ac;
        margin-left: 15px;
    }

    .main_friends_header {
        display: flex;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #E9E6E1;
    }

    .main_friends_separator {
        display: none;
    }

    .main_friends_deleteImage {
        display: none;
    }

    .main_friends_deleteImage_mobile {
        display: inline;
        margin-left: auto;
        margin-right: 31px;
    }

    .main_header {
        display: none;
    }

    .main_header_mobile_container {
        display: block;
    }

    .main_friends_mobile_addOrDeleteButton {
        display: inline-block;
    }

    .main_friends_header_separator {
        margin-top: 30px;
    }

    .main_adapter_td {
        padding: 5px;
    }

    .main_adapter_table {
        margin-top: 0px;
        margin-left: -6px;
    }
}

@media (min-width: 999px) {
}

//@media (max-width: 1000px) {
//  .main_pc_container {
    //    display: none;
    //  }
//}